/* #banner{
    height: 1080px !important;
}

.nivo-main-image{
    height: 800px !important;
}

#nivoCaption-1{
    height: 800px !important;
}

#nivoCaption-2{
    height: 800px !important;
}

#nivoCaption-3{
    height: 800px !important;
}

.nivo-main-image{
    z-index: 1000;
} */

/* 
.nivoSlider{
    height: 800px !important;
} */